# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

**/.DS_Store
/untitled/node/
/untitled/src/main/frontend/node/node.exe
/untitled/src/main/frontend/node/npx.cmd
/untitled/src/main/frontend/node/npx
/untitled/src/main/frontend/node/npm.cmd
/untitled/src/main/frontend/node/npm
